
.card {
    width: 240px;
    height: 560px;
    box-sizing: content-box;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    box-sizing: border-box;
}

.part1 {
    flex-grow: 4;
    width:100%;
    background-image: linear-gradient(135deg, red, gold);
    text-align: center;
    position:relative;
    
}

.part2 {
    flex-grow: 4;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.part2-items1 {
    flex-grow: 1;

}

.part2-items2 {
    flex-grow: 1;

}

.img {
    position:absolute;
    width: 90px;
    height:90px;
    border-radius: 50%;
    background-image: url("../html/imgs/yao.png"); 
    background-size: cover;
    top: 60px;
    left: 70px;
}

ul {
    list-style-type: none;
}
.addr{
    width:16px;
    height: 16px;
    background-image: url('../html/imgs/addr.png');
    background-repeat: no-repeat;
}
.email{
    width:16px;
    height: 16px;
    background-image: url('../html/imgs/mail.png');
    background-repeat: no-repeat;
}
.phone{
    width:16px;
    height: 16px;
    background-image: url('../html/imgs/phone.png');
    background-repeat: no-repeat;
}
.part3{
    flex-grow:2;
    
    
          
    color: green;
    
}
.part3-items{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;  
    flex-direction: row;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}