.div1 {
    width: 200px;
    height: 300px;
    box-sizing: content-box;
    background-color: black;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    position: relative; /* 添加相对定位 */
}

.div2 {
    width: 200px;
    height: 130px;
    background-image: linear-gradient(135deg, red, gold);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div2f {
    font-size: 36px;
    margin: 5px 0;
}

.div3 {
    width: 200px;
    height: 130px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

.div4 {
    width: 80px; /* 缩小尺寸 */
    height: 80px;
    background-image: url("code/html/imgs/yao.png");
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li div {
    padding-left: 25px; /* 为图标留出空间 */
    background-size: 16px 16px; /* 等比缩小图标 */
    background-position: left center;
    margin: 5px 0;
    height: 20px;
    line-height: 20px;
}

/* 底部社交图标样式 */
.social-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    background-color: white;
}

.social-icons div {
    width: 25px;
    height: 25px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}